# Ignore all logs
*.log

# Ignore any Eclipse metadata recursively
**/.autotools
**/.cproject
**/.project
**/.settings
# Ignore Autotools genereated Makefiles
**/Makefile
**/Makefile.in
**/aclocal.m4
**/autom4te.cache/**
**/configure
**/install-sh
**/libtool
**/ltmain.sh
**/m4/**
**/missing
**/.deps/**
**/dirstamp
**/.libs/**
**/*.lo
**/*~
**/configure.scan
