## add vendored files/paths

**/compile linguist-vendored
**/config.guess linguist-vendored
**/config.sub linguist-vendored
**/depcomp linguist-vendored
**/install-sh linguist-vendored
**/libtool linguist-vendored
**/ltmain.sh linguist-vendored
**/missing linguist-vendored
**/config.status linguist-vendored
**/configure linguist-vendored
**/Makefile linguist-vendored
**/Makefile.in linguist-vendored
