# Ignore all logs
*.log

# Ignore any Eclipse metadata recursively
**/.autotools
**/.cproject
**/.project
**/.settings
# Ignore Autotools genereated Makefiles
**/Makefile
**/autom4te.cache/**
autom4te.cache/**
**/configure
**/.deps/**
**/.libs/**
**/*.lo
**/*~
**/configure.scan
