# Ignore all logs
*.log

# Ignore any Eclipse metadata recursively
**/.autotools
**/.cproject
**/.project
**/.settings
# Ignore Autotools genereated Makefiles
**/Makefile
**/autom4te.cache/**
config.log
**/config.h
config.status
**/.deps/**
**/.libs/**
**/*.lo
**/*.la
**/*~
**/*.o
**/*.a
**/configure.scan
# Ignore test temporaries
**/*.trs
**/*.swp
# Ignore test binaries
MultinomialDistribution_test
