# Ignore all logs, objects and archives
*.log
*.o
*.lo
*.Po
*.a
Makefile
/hmmufotu
/hmmufotu-anneal
/hmmufotu-build
/hmmufotu-inspect
/hmmufotu-place
/hmmufotu-sim
/hmmufotu-sum
/hmmufotu-train-dm
/hmmufotu-train-sm
/hmmufotu-train-hmm
/hmmufotu-subset
/hmmufotu-norm
/hmmufotu-jplace
*.exe
